@import '../variables';

.CardHow {
  background-color: $dark-green;
  color: $white;
  width: 250px;
  height: 500px;
  border: 0;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.description{
  border: 4px solid $light-green;
  padding: 10px;
  border-radius: 30px 0 30px 30px;
  background-color: $light-green;
  height: 240px;
  margin: 5px;
}

.step {
  background-color: $dark-green;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  text-decoration-color: white;
  font-weight: 700;
  font-size: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cardText{
  font-style: $font-family;
  text-align: center;
  padding-top: 15px;
  margin-left: 10px;
}
.font-sizes{
  $font-family: 'Montserrat', sans-serif;
  $size-subtitle-desktop: 1rem;
}
.image {
  filter: brightness(50%);
 }
 .ingredient1Opacity{
   opacity: 0.5;
   font-size: 10;
 }
 .ingredient2Opacity{
  opacity: 0.7;
  font-size: 10;
}
.ingredient3Opacity{
  opacity: 4;
  font-size: 14;
}
.ingredient4Opacity{
  opacity: 0.8;
  font-size: 10;
}
.ingredient5Opacity{
  opacity: 0.7;
  font-size: 10;
}

