.navbar-style{
  background-color: $dark-green;
}

.btn-outline-dark{
  font-size: $size-footerlinks-mobile;
  font-weight: $bold;
  color: $orange;
  background-color: none;
  border-color:$orange;
  padding: 10px 20px;
  border-radius: 25px;
  margin: 20px 0px 20px 0px;
}