.tittleResume{
    color: $white;
    background-color: $orange-opacity;
    border-radius: 200px;
    height: 40px;
    width: 950px;   

img{
    margin-top: 5px;
    margin-left: 5px;
}
    
}

.deletebutton{
    background-color: $dark-green;
    border-radius: 50%;
    color: $white;
    border: none;
    height: 25px;
    width: 25px;    
}


