
.tittleTable {
    color: $white;
    margin-top: 30px;
}

.tittleResume{
    color: $white;
    background-color: $orange-opacity;
    border-radius: 30px;
    height: 30px;

}

.deletebutton{
    background-color: $dark-green;
    border-radius: 50%;
    color: $white;
    border: none;
}

.form-input{
    width: 100%;
    margin: 0.75rem 0;
   
    label{
      color: $white;
      font-size: $size-inputstitle-mobile;
      font-weight: $medium;
      margin: 10px;
      }
    
    input{
      height: 2.75rem;
      padding: 0 .75rem;
      border-radius: .5rem;
      border: none;
      font-size: $size-inputsplaceholder-mobile;
      width: auto;
    }
  }


  .importStyle{
      flex-direction: column;
      padding-right: 100px;

  }

  .plusbutton{
      background-color: $white;
      color: $dark-mode;
      border-radius: 50%;
      border: none;
      margin: 10px;
  }


