.allUtencils{
  padding: 1.5rem;

  p{
    margin-top: 10px;
    color: $white;
  }
  
.form-input{
  padding: 1rem;

  input{

margin-left: 50px;
  }

}
 
  .card-table{
    width: 900px;
    height: 500px;
    background-color: $orange-opacity;
}


.deletebutton{
    background-color: $dark-green;
    border-radius: 50%;
    color: $white;
    border: none;
    margin-top: 10px;   
    margin-right: -20px;   
   
}


  .plusbutton{
    background-color: $white;
    color: $dark-mode;
    border-radius: 50%;
    border: none;
    margin-top: 10px;
}


.labelUtencils{
  padding: 1rem;
}
  
}


