.allUtencils{
  padding: 1.5rem;

  p{
    margin-top: 10px;
    color: $white;
  }
  

 
  .card-table{
    width: 900px;
    height: 500px;
    background-color: $orange-opacity;
}

.form-input{
  padding: 1rem;
  margin-left: 15px;
}

.deletebutton{
    background-color: $dark-green;
    border-radius: 50%;
    color: $white;
    border: none;
    margin-top: 10px;   
    margin-right: -20px;   
   
}


  .plusbutton{
    background-color: $white;
    color: $dark-mode;
    border-radius: 50%;
    border: none;
    margin-top: 10px;
}

.tittleResume{
  background-color: $orange-opacity;
  border-radius: 20px;
  margin-left: 30px;
  width: 50rem;  


}
  
}
