body {
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.125rem;
  }
}

h1, h2 {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  h1, h2 {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 1rem;
  }
}

small {
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  small {
    font-size: 0.625rem;
  }
}

button {
  font-size: 1.125rem;
}

@media screen and (min-width: 768px) {
  button {
    font-size: 1.125rem;
  }
}

.section-benefits {
  background-color: #333333;
  width: 100vw;
}

.section-benefits .green-advisor {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100vw;
  height: 8.75rem;
}

.section-benefits .benefits-image-wrapper {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4.375rem;
  padding-left: 26px;
}

@media screen and (min-width: 768px) {
  .section-benefits .benefits-image-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    vertical-align: middle;
    height: 100vh;
    margin-top: 0;
    padding-left: 26px;
  }
}

.section-benefits .benefit-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .section-benefits .benefit-wrapper {
    height: 100vh;
  }
}

.section-benefits .benefit-wrapper .benefit-title h2 {
  margin-top: 1rem;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-benefits .benefit-wrapper .benefit-title h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .section-benefits .benefit-wrapper .benefit-title h2 {
    margin-top: 3rem;
    font-size: 2.25rem;
  }
}

.section-benefits .benefit-wrapper .benefit-card-wrapper {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0.5rem 0;
}

.section-benefits .benefit-wrapper .benefit-card-wrapper img {
  margin: .5rem;
  width: 1.5rem;
}

@media screen and (min-width: 768px) {
  .section-benefits .benefit-wrapper .benefit-card-wrapper img {
    width: 2.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .section-benefits .benefit-wrapper .benefit-card-wrapper img {
    width: 2.625rem;
  }
}

.section-benefits .benefit-wrapper .benefit-card-wrapper h3 {
  font-size: 0.75rem;
  font-weight: 600;
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .section-benefits .benefit-wrapper .benefit-card-wrapper h3 {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 1024px) {
  .section-benefits .benefit-wrapper .benefit-card-wrapper h3 {
    font-size: 1.125rem;
  }
}

.section-benefits .benefit-wrapper .benefit-card-wrapper p {
  margin: 0;
  padding: 0 1.5rem;
  font-size: 0.75rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .section-benefits .benefit-wrapper .benefit-card-wrapper p {
    font-size: 0.75rem;
    padding: 0%;
  }
}

@media screen and (min-width: 1024px) {
  .section-benefits .benefit-wrapper .benefit-card-wrapper p {
    font-size: 1.125rem;
    padding: 0%;
  }
}

.section-benefits .benefit-wrapper .benefit-card-wrapper caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  text-align: center;
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  .section-benefits .benefit-wrapper .benefit-card-wrapper caption {
    font-size: 0.625rem;
  }
}

.flag {
  background-color: #00AF91;
  width: 100vw;
  height: 20vh;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .flag {
    height: 100vh;
    width: 30%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.navBarColor {
  background-color: #004f41;
}

.buttonNavBar {
  background-color: rgba(255, 153, 0, 0.849);
  border: 2px solid rgba(255, 153, 0, 0.849);
  padding: 10px;
  border-radius: 15px;
  width: 150px;
  height: 100 px;
}

.styleLetterButton {
  font: 15px Arial, sans-serif;
  font-weight: normal;
  color: white;
}
/*# sourceMappingURL=app.css.map */